* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  GENERAL SETTINGS */
body {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  width: 782px;
  margin: 2rem auto;

  color: #495057;
  background-color: #f8f9fa;

  line-height: 1.5;
}

@media (max-width: 80rem) {
  body {
    width: 65vw;
  }
}

@media (max-width: 60rem) {
  body {
    width: 80vw;
  }
}

@media (max-width: 45rem) {
  body {
    width: 95vw;
  }
}

/* HEADER SETTINGS */
.background-picture {
  width: 100%;
  background-size: cover;
  max-height: 200px;
}

.photo-container {
  padding: 0 1.5rem 0 1.5rem;

  display: flex;
  height: 3rem;
}

.profile-picture {
  max-height: 9.5rem;
  max-width: 9.5rem;
  border-radius: 50%;
  border: 4px solid #fff;
  transform: translate(0, -75%);
}

@media (max-width: 45rem) {
  .background-picture {
    /* max-height: 120px; */
  }

  .profile-picture {
    max-height: 7rem;
    max-width: 7rem;
    transform: translate(0, -75%);
  }

  .photo-container {
    max-height: 32px;
  }
}

.btn-notification {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  border: 0;
  background-color: #fff;
  margin: auto 0 auto auto;
  cursor: pointer;
}

.notification-icon {
  height: 24px;
  width: 24px;
  stroke: #495057;
}

.btn-notification:hover {
  background-color: #e9ecef;
}

.header-details {
  padding: 0 1.5rem 1rem 1.5rem;
  line-height: 1.3;
}

.header-name {
  font-size: 1.375rem;
  font-weight: 600;
}

.header-description {
  font-size: 0.9375rem;
  margin-bottom: 0.675rem;
}

.header-location {
  font-size: 0.875rem;
  margin-bottom: 0.675rem;
}

.contact-info {
  font-size: 0.875rem;
  text-decoration: none;
  color: #1c7ed6;
  font-weight: 600;
}

.contact-info:link,
.contact-info:visited {
  text-decoration: none;
}

.contact-info:hover,
.contact-info:active {
  text-decoration: underline;
}

.connections {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  /* font-weight: 600; */
}

.connections-details {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.25rem;
}

.connections-imgs {
  display: flex;
}

.connections-imgs img {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: -12px;
}

.connections-imgs img:last-child {
  margin: 0;
}

.connections-text:link,
.connections-text:visited {
  font-size: 0.875rem;
  text-decoration: none;
  color: #868e96;
}

.connections-text:hover,
.connections-text:active {
  font-size: 0.875rem;
  text-decoration: none;
  color: #1c7ed6;
  text-decoration: underline;
}

.connections-text span {
  font-weight: 600;
}

.more-actions {
  display: flex;
  gap: 0.5rem;
}

.send-icon {
  height: 18px;
  width: 18px;
  transform: translate(0, -7%);
}

.btn-send-msg:link,
.btn-send-msg:visited {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  font-size: 0.9375rem;
  text-decoration: none;
  color: #fff;
  font-weight: 600;

  background-color: #1c7ed6;
  padding: 0.375rem 0.875rem;
  border-radius: 40px;

  transition: background-color 0.15s;
}

.btn-send-msg:hover,
.btn-send-msg:active {
  background-color: #1864ab;
}

.btn-more-info:link,
.btn-more-info:visited {
  display: flex;
  /* align-items: center; */
  gap: 0.25rem;

  font-size: 0.9375rem;
  text-decoration: none;
  color: #868e96;
  font-weight: 500;

  padding: 0.375rem 0.875rem;
  border: 1px solid #495057;
  border-radius: 40px;

  transition: all 0.15s;
}

.btn-more-info:hover,
.btn-more-info:active {
  background-color: #f1f3f5;
  box-shadow: inset 0 0 0 1px #495057;
}

/* TOPICS SETTINGS */
h2 {
  font-size: 1.25rem;
  padding: 1.5rem 1.5rem 0.25rem 1.5rem;
  font-weight: 600;
}

header,
.topic {
  border: 1px solid #ced4da;
  border-radius: 0.5rem;

  background-color: #fff;

  display: flex;
  flex-direction: column;

  padding-bottom: 0.75rem;
  margin-bottom: 0.5rem;

  box-shadow: 0 0.75rem 1rem rgba(0, 0, 0, 0.05);

  overflow: hidden;
}

.experience {
  font-size: 0.875rem;
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;

  display: flex;
}

.experience-details {
  padding-left: 0.75rem;
}

.logo-company:link,
.logo-company:visited {
  cursor: pointer;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
}

.header-location,
.connections,
.date,
.location {
  color: #868e96;
}

.location {
  margin-bottom: 0.75rem;
}

hr {
  background-color: #e9ecef;
  height: 1px;
  border: 0;
}

li {
  margin-left: 1.125rem;
  line-height: 1.4;
}

.text {
  padding: 0.25rem 1.5rem 0.75rem 1.5rem;
  font-size: 0.875rem;
}
