* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 3.2rem 9.6rem 4.8rem 9.6rem;
}

.list {
  display: flex;
  gap: 2rem;
}

.container-master {
  display: grid;
  grid-template-columns: 3fr 1fr;

  margin: 0 9.6rem 4.8rem 9.6rem;
  column-gap: 2rem;
}

.aside {
  grid-column: 2 / -1;
  grid-row: 1;
}

.container-aside {
  height: 100%;
  /* margin: 2rem; */
  padding: 2rem;
  border: 1px solid black;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.recipes-suggestions-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container-main {
  display: flex;
  flex-direction: column;

  height: 100%;
  gap: 2rem;

  /* margin: 2rem; */
  padding: 2rem;
  border: 1px solid black;
}

.recipes-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 2rem;
}

.nav-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 3.2rem 9.6rem 4.8rem 9.6rem;
}

/* SUGGESTIONS */
.suggestion-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3.2rem 9.6rem 4.8rem 9.6rem;
}

.suggestion-label {
  font-size: 2rem;
  font-weight: bold;
}
